body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #222;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}

#graph {
      width: 100%;
      height: auto;
      max-width: 1000px;
      aspect-ratio: 2 / 1;
      border: 1px solid #ccc;
      background-color: white;
      display: block;
    }

section {
    padding: 5px 20px;
    max-width: 800px;
    margin: auto;
}

h2 {
    color: #444;
    margin-bottom: 20px;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

.projet {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

img.img-projet {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto; /* centre l’image */
    border-radius: 8px; /* optionnel : coins arrondis */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* optionnel : ombre douce */
}

.projet h3 {
    margin-top: 0;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    background-color: #eee;
    padding: 20px;
    font-size: 14px;
}
